# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environments
.venv/
venv/
env/
ENV/

# Poetry virtualenvs
.cache/
virtualenvs/

# ======================
# Project build / packaging
# ======================
dist/
build/
*.egg-info/

# ======================
# Logs & data
# ======================
*.log

# EVTX / Windows logs
*.evtx
*.etl
logs/
data/
datasets/

# Docs
docs/

# Models
models/

# Storage
storage/

# ======================
# Jupyter / notebooks
# ======================
.ipynb_checkpoints/

# ======================
# IDEs
# ======================
.vscode/
.idea/
*.swp
*.swo

# ======================
# OS junk (Windows)
# ======================
Thumbs.db
Desktop.ini

notes/

# ======================
# Exclusions
# ======================
!/app/src/components/logs/
!/app/src/components/models/